.titulo-principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
    
}

.principal{
    background: #cccccc;
    padding: 20px;
    
}

.titulo-centralizado{
    text-align:center;
}

p{
    text-align: center;
    
}

.utensilios{
    width: 140px;
}

.imagenDiferenciales{
    width: 60%;
}




em strong{
    color: red;
}

#mision{
    font-size:20px;
}

.diferenciales{
    background:#ffffff;
    pad: 30px;
}

h2{
    text-align:center;
}

.items{
    font-style: italic;
}

ul{
 display: inline-block;
 vertical-align: top;
 width: 20%;
 margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}
.corte {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    background-image: linear-gradient(180deg, #0000009c 0%, #0000009c 100%), url('../images/inicio.webp');
    background-size: cover;
    clip-path: polygon(0 0 0 0);
    z-index: -1;
}